@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

body {
  @apply bg-gray-50;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

html,
body,
#root {
  @apply h-full;
}

.fade-enter {
  @apply opacity-0;
}

.fade-enter-active {
  @apply opacity-100 transition-opacity duration-300;
}

.fade-exit {
  @apply opacity-100;
}

.fade-exit-active {
  @apply opacity-0 transition-opacity duration-300;
}
